// place your custom styles here

.no-zoom.friends-item-img.hover-alt {
  width: 100px;
  height: 30px;
  padding: 10px 15px 0 15px;
}

#dromtitle {
  text-align: center;
}

#peculiarityId {
  width: 300px;
}

#ela {
  display: flex;
}
#devs{
  display: flex;
}

.heardImg {
  width: 100px;
  height: 100px;
}
.nameP{
  width:130px;
}
.developer{
  margin: 0 20px 0 0;
}
