// place your custom styles here

.no-zoom.friends-item-img.hover-alt {
  width: 100px;
  height: 30px;
  padding: 10px 15px 0 15px;
}

#dromtitle{
  text-align: center ;
}

#peculiarityId{
width: 300px;
}